<div class="auth-container">
  <div class="auth-card">
    <h2>Crear Cuenta</h2>
    
    @if (mensajeExito()) {
      <div class="alert alert-success">{{ mensajeExito() }}</div>
    }
    @if (mensajeError()) {
      <div class="alert alert-danger">{{ mensajeError() }}</div>
    }

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombre Completo</label>
        <input type="text" formControlName="nombre" placeholder="Tu nombre">
        @if (registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid) {
          <small class="error-text">El nombre debe tener mínimo 3 letras.</small>
        }
      </div>

      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" formControlName="correo" placeholder="ejemplo@correo.com">
        @if (registroForm.get('correo')?.touched && registroForm.get('correo')?.invalid) {
          <small class="error-text">Introduce un correo válido.</small>
        }
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
        @if (registroForm.get('password')?.touched && registroForm.get('password')?.invalid) {
          <small class="error-text">La contraseña requiere mínimo 6 caracteres.</small>
        }
      </div>

      <button type="submit" [disabled]="registroForm.invalid" class="btn-primary">Registrarse</button>
    </form>

    <p class="auth-switch">
      ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>
</div>