@if (usuario()) {
  <nav class="sidebar">
    <div class="sidebar-header">
      <h3>Mi Sistema</h3>
      <span class="user-name">{{ usuario()?.nombre }}</span>
      <span class="badge" [class.admin]="usuario()?.rol === 'admin'" [class.user]="usuario()?.rol === 'user'">
        {{ usuario()?.rol }}
      </span>
    </div>

    <ul class="nav-links">

  <li>
    @if (usuario()?.rol === 'admin') {
      <a routerLink="/admin-dashboard" routerLinkActive="active">
        <span>🏠</span>
        <span>Inicio Admin</span>
      </a>
    } @else {
      <a routerLink="/user-dashboard" routerLinkActive="active">
        <span>🏠</span>
        <span>Mi Perfil</span>
      </a>
    }
  </li>
      <li>
      <a routerLink="/compras" routerLinkActive="active">
        <span>🛒</span>
        <span>Mis Compras</span>
      </a>
      </li>

      @if (usuario()?.rol === 'admin') {
        <li class="separator">Panel de Control</li>
        <li>
          <a routerLink="/gestion-usuarios" routerLinkActive="active">👥 Gestión de Usuarios</a>
        </li>
        <li>
          <a routerLink="/reportes" routerLinkActive="active">📊 Reportes del Sistema</a>
        </li>
        <li>
          <a routerLink="/configuracion" routerLinkActive="active">⚙️ Ajustes Globales</a>
        </li>

        <li>
          <a routerLink="/contenedores/registro" routerLinkActive="active">🚛 Registro de Entrada</a>
        </li>
        
        <li>
          <a routerLink="/contenedores/inventario" routerLinkActive="active">📦 Inventario de Patio</a>
        </li>
        <li>
          <a routerLink="/facturacion" routerLinkActive="active-menu">🧾 Facturación Electrónica</a>
        </li>

      }
    </ul>

    <div class="sidebar-footer">
      <button (click)="logout()" class="btn-logout">🚪 Cerrar Sesión</button>
    </div>
  </nav>
}